<!-- Category Navigation -->
<nav class="ag-news-categoryNav">
  <!-- This is for background -->
  <div class="ag-news-catnav-viewport">
    <!-- This is for padding -->
    <div class="ag-news-catnav-content">
      <h2 class="ag-news-cat-title">Topics</h2>
      <ul class="ag-news-cat-list">
        <li class="ag-news-cat-item"><a href="/newsroom" class="ag-news-cat-link underline">All Articles</a></li>
        <% for(let category of articleCategories) { %>
        <li class="ag-news-cat-item"><a href="/newsroom?category=<%= category %>" class="ag-news-cat-link underline"><%= category %></a></li>
        <% } %>
      </ul>
      <hr style="opacity: 0.1" />
      <ul style="list-style: none; padding: 0; margin: 0">
        <li>
          <a href="/newsroom/archive" class="ag-news-cat-link underline">News Archive</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
