<header class="ag-gh global-width">
  <nav class="ag-gn">
    <a href="/" class="ag-gh-logo-link"><img src="/assets/img/logos/adjara-group.svg" alt="Adjara Group Logo" class="ag-gh-logo" height="25" loading="lazy" /></a>
    <div class="navbar-overlay" style="position: fixed; left: 0; right: 0; bottom: 0; top: 0; height: 100vh;"></div>
    <div class="ag-gn-list-container">
      <ul class="ag-gn-list">
        <li class="ag-gn-item"><a href="/" class="ag-gn-link underline">Home</a></li>
        <% for(let el of gn) { %>
        <li class="ag-gn-item"><a href="/<%= el.toLowerCase() %>" class="ag-gn-link underline"><%= el %></a></li>
        <% } %>
      </ul>  
    </div>
    <div class="ag-gn-hamburger_container">
      <div class="ag-gn-hamburger"></div>
    </div>
  </nav>
</header>
