<div class="newsroom_nav global-width">
  <div class="newsroom_nav-content">
    <nav>
      <div class="" id="newsroomNav">All News</div>
      <div class="newsroom_nav-drawer"></div>
    </nav>
    <a href="/newsroom/archive" class="underline">
      <span id="newsroomArchive">Newsroom Archive</span>
    </a>
  </div>
</div>
