<div class="ag-article-social-container">
  <a class="ag-article-social-anchor" target="_blank" href="https://www.facebook.com/sharer.php?u=https://localhost:8080/newsroom/<%= article._id %>/"> <img class="ag-article-social" src="/assets/img/SM/fb.png" alt="Share on Facebook" /></a>
  <a class="ag-article-social-anchor" target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url=https://localhost:8080/newsroom/<%= article._id %>/"><img class="ag-article-social" src="/assets/img/SM/in-dark.png" alt="Share on LinkedIn" /></a>
  <a class="ag-article-social-anchor" target="_blank" href="https://twitter.com/intent/tweet?url=https://localhost:8080/newsroom/<%= article._id %>/"><img class="ag-article-social" src="/assets/img/SM/twitter.png" alt="Share on Twitter" /></a>
</div>
