<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/head') %>
  <body>
    <%- include('layouts/navbar') %>
    <main id="main" class="main global-width">
      <section style="min-height: 700px; display: flex; flex-direction: column; justify-content: center; align-items: center">
        <h1 style="font-size: 70px">500</h1>
        <h2>Internal server error.</h2>
      </section>
    </main>
    <%- include('layouts/footer') %>
  </body>
</html>
