<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('layouts/head') %>
    <link rel="stylesheet" href="/css/careers.css">
  </head>
  <body>
    <%- include('layouts/navbar') %>
    <main class="main" id="main">
      <h1 class="visuallyhidden">Adjara Group Careers</h1>
      <section class="ag-careers hero">
        <figure class="ag-careers-hero-bg inh-size">
          <img class="ag-careers-bg inh-size" src="/assets/img/logos/ag-careers-hero.png" alt="">
        </figure>
        <div class="ag-careers-hero-content">
          <h2 class="ag-careers-title">Work With Us</h2>
          <button>Send Resume</button>
        </div>
      </section>
      
      <section class="ag-careers-explore global-width">
        
        <h2 class="title">Explore Careers</h2>
        <p style="font-size: 14px;"><a href="#">Write to us</a> if there is no suitable vacancy for you in the list</p>

        <div class="careers-container global-grid">
          <nav class="careers-nav">
            <ul class="careers-nav-list">
              <li class="careers-nav-item"><a href="" class="careers-nav-link underline">Food & Beverage</a></li>
              <li class="careers-nav-item"><a href="" class="careers-nav-link underline">Housekeeping</a></li>
              <li class="careers-nav-item"><a href="" class="careers-nav-link underline">Engineering</a></li>
              <li class="careers-nav-item"><a href="" class="careers-nav-link underline">Front Desk & Guest Services</a></li>
              <li class="careers-nav-item"><a href="" class="careers-nav-link underline">Human Resources</a></li>
              <li class="careers-nav-item"><a href="" class="careers-nav-link underline">Sales & Marketing</a></li>
              <li class="careers-nav-item"><a href="" class="careers-nav-link underline">Finance & Accounting</a></li>
              <li class="careers-nav-item"><a href="" class="careers-nav-link underline">Information Technology</a></li>
              <li class="careers-nav-item"><a href="" class="careers-nav-link underline">Operations Management</a></li>
            </ul>
          </nav>

          <div class="careers-list">

          </div>
        </div>

      </section>
    </main>
    <%- include('layouts/footer') %>
  </body>
</html>
