<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('layouts/head') %>
  </head>
  <body>
    <%- include('layouts/navbar') %>
    <main class="main" id="main">
      <section class="ag-section hero">
        <div class="hero-video-container">
          <video autoplay loop muted class="hero-vid" poster="/assets/img/articles/Adjara Group turns toward a new path.webp">
            <source src="/assets/vid/36sec-1.mp4" data-src="/assets/vid/36sec-1.mp4" type="video/mp4">
            We are sorry, but your browser does not support modern videos
          </video>  
          <div class="overlay darker"></div>
        </div>
        <div class="hero-container global-width">
          <h1 class="visuallyhidden">Adjara Group</h1>
          <h2 class="hero title reveal">A Leading Georgian Company in Hospitality, Development and Agrepreneurship.</h2>
          <div class="ag-cta-content reveal">
            <a class="ag-cta underline u-light" href="/company">About Adjara Group →</a>
          </div>
        </div>
      </section>
  
      <section class="ag-section intro">
        <div class="intro-container global-grid">
          <div class="ag-intro hotels">
            <div class="ag-intro-background" style="background: url('/assets/img/imgs-of-bldings/Photo-11-10-2018-13-25-38.webp') center / cover">
              <div class="overlay darker"></div>
            </div>
            <div class="ag-intro-content">
              <h2 class="title reveal">Hotels</h2>
              <p class="ag-intro-body reveal">Adjara Group's Hotels have been placing Georgia on the world map and showcasing the country's identity through architecture and design. The company's projects have been developed in partnership with Rooms Studio and the in-house team of architects and engineers – Adjara Arch Group. The expansive space and the philosophy of hospitality instilled in the hotel personnel create distinctive journeys for guests. By partnering with innovative entrepreneurs, artists, and forward-thinking individuals, Adjara Group has gathered local communities who are at the forefront of advancing Georgian hospitality and the country's creative economy.</p>
              <div class="ag-cta-content reveal">
                <a href="/hotels" class="ag-cta underline u-light">Explore Our Hotels →</a>
              </div>  
            </div>
          </div>
          <div class="ag-intro restaurants">
            <div class="ag-intro-background" style="background: url('/assets/img/imgs-of-bldings/Photo-6-2-19-4-26-18-PM.webp') center / cover">
              <div class="overlay darker"></div>
            </div>
            <div class="ag-intro-content">
              <h2 class="title reveal">Restaurants</h2>
              <p class="ag-intro-body reveal">Adjara Group has set new culinary trends and reshaped the country's gastronomic culture. From modern Georgian to classic French, the company is committed to quality food programs using fresh and locally sourced produce. The signature farm to table concept is the basis of all restaurants and bars, the menus of which are being continuously refreshed. The bean to bar concept drives Stamba's boutique Chocolaterie & Roastery which uses seasonal and natural ingredients.</p>
              <div class="ag-cta-content reveal">
                <a href="/hotels" class="ag-cta underline u-light">Explore Our Hotels →</a>
              </div>
            </div>
          </div>
          <div class="ag-intro agriculture">
            <div class="ag-intro-background" style="background: url('/assets/img/agriculture/Almond-Orchard-resized-80_.jpeg') center / cover">
              <div class="overlay darker"></div>
            </div>
            <div class="ag-intro-content">
              <h2 class="title reveal">Agriculture</h2>
              <p class="ag-intro-body reveal">As one of Adjara Group Holding's three directions, Udabno manages one of the biggest agricultural developments in Georgia's eastern region of Kakheti. The almond orchard, berry farms, vineyard with endemic grape varieties, as well as the dairy farm, all of which are part of the agricultural direction of the holding, are setting new standards in the industry.</p>
              <div class="ag-cta-content reveal">
                <a href="/hotels" class="ag-cta underline u-light">Explore Our Hotels →</a>
              </div>
            </div>
          </div>
          <div class="ag-intro development">
            <div class="ag-intro-background" style="background: url('/assets/img/imgs-of-bldings/architecture-and-design-2048x1342-1.webp') center / cover">
              <div class="overlay darker"></div>
            </div>
            <div class="ag-intro-content">
              <h2 class="title reveal">Development</h2>
              <p class="ag-intro-body reveal">Under the guidance of the Founder and Owner Temur Ugulava, Collective is the development company of Adjara Group Holding, that creates and curates new, unique spaces and local brands, which empower creative communities while establishing entrepreneurial culture. The team specializes in turning brownfield projects into internationally acclaimed, trend-setting hotels, restaurants, as well as cultural and social hotspots. Collective takes a collaborative, holistic approach towards projects combining design, architecture, and customers' experiences of space.</p>
              <div class="ag-cta-content reveal">
                <a href="/hotels" class="ag-cta underline u-light">Explore Our Hotels →</a>
              </div> 
            </div>
          </div>
        </div>
      </section>
  
      <section class="ag-section news global-width">
        <div class="news-container">
          <h2 class="title">Latest News</h2>
          <ul class="ag-news-list list-nobullet">
            <li class="ag-news-item"><a class="ag-news-link underline" href="/newsroom">All News</a></li>
            <li class="ag-news-item"><a class="ag-news-link underline" href="/newsroom/archive">Archive</a></li>
          </ul>
          <%- include('layouts/recentArticles', {recentArticles}) %>
        </div>
      </section>
  
    </main>
    <%- include('layouts/footer') %>
  </body>
</html>
