<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('layouts/head') %>
    <link rel="stylesheet" href="/css/homepageAlt.css" />
  </head>
  <body>
    <%- include('layouts/navbar') %>
    <main class="main" id="main">
      <section class="ag-section alternative-hero global-width">
        <div class="headling">
          <h1 class="headline">Adjara Group</h1>
          <h2 class="subheadline">A Leading Georgian Company in Hospitality, Development and Agrepreneurship.</h2>
        </div>
        <div class="hero-navigation">
          <nav>
            <ul class="list-nobullet">
              <li><a href="#" class="underline">Hotels</a></li>
              <li><a href="#" class="underline">Restaurants & Bars</a></li>
              <li><a href="#" class="underline">Co-Working Spaces</a></li>
              <li><a href="#" class="underline">Development</a></li>
            </ul>
          </nav>
        </div>
      </section>

      <section>
        
      </section>
    </main>
  </body>
</html>