<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/head') %>
  <body>
    <%- include('layouts/navbar') %>
    <main class="main" id="main">
      <section class="ag-section alternative-hero global-width">
        <div class="headling">
          <h1 class="headline">Adjara Group</h1>
          <h2 class="subheadline">A Leading Georgian Company in Hospitality, Development and Agrepreneurship.</h2>
        </div>
        <div class="hero-navigation">
          <nav>
            <ul class="list-nobullet">
              <li><a href="/company" class="underline">Company</a></li>
              <li><a href="#hotels" class="underline">Hotels</a></li>
              <li><a href="#restaurants-and-bars" class="underline">Restaurants & Bars</a></li>
              <li><a href="#co-working-spaces" class="underline">Co-Working Spaces</a></li>
              <li><a href="#development" class="underline">Development</a></li>
            </ul>
          </nav>
        </div>
      </section>

      <section class="ag-section global-width alt-home-section" id="hotels">
        <div class="content">
          <h2 class="alt-title">Hotels</h2>
          <p class="paragraph">Adjara Group's Hotels have been placing Georgia on the world map and showcasing the country's identity through architecture and design. The company's projects have been developed in partnership with Rooms Studio and the in-house team of architects and engineers – Adjara Arch Group. The expansive space and the philosophy of hospitality instilled in the hotel personnel create distinctive journeys for guests. By partnering with innovative entrepreneurs, artists, and forward-thinking individuals, Adjara Group has gathered local communities who are at the forefront of advancing Georgian hospitality and the country's creative economy.</p>
          <a href="#" class="underline ag-cta">Explore Hotels →</a>
        </div>
        <div class="img-container">
          <figure class="alt-home-img" style="background: url('/assets/img/imgs-of-bldings/Photo-11-10-2018-13-25-38.webp') center / cover;"></figure>
        </div>
      </section>
      <section class="ag-section global-width alt-home-section" id="restaurants-and-bars">
        <div class="content">
          <h2 class="alt-title">Restaurants & Bars</h2>
          <p class="paragraph">Adjara Group has set new culinary trends and reshaped the country's gastronomic culture. From modern Georgian to classic French, the company is committed to quality food programs using fresh and locally sourced produce. The signature farm to table concept is the basis of all restaurants and bars, the menus of which are being continuously refreshed. The bean to bar concept drives Stamba's boutique Chocolaterie & Roastery which uses seasonal and natural ingredients.</p>
          <a href="#" class="underline ag-cta">Explore Restaurants & Bars →</a>
        </div>
        <div class="img-container">
          <figure class="alt-home-img" style="background: url('/assets/img/imgs-of-bldings/Photo-6-2-19-4-26-18-PM.webp') center / cover;"></figure>
        </div>
      </section>
      <section class="ag-section global-width alt-home-section" id="co-working-spaces">
        <div class="content">
          <h2 class="alt-title">Co-Working Spaces</h2>
          <p class="paragraph">Adjara Group's Hotels have been placing Georgia on the world map and showcasing the country's identity through architecture and design. The company's projects have been developed in partnership with Rooms Studio and the in-house team of architects and engineers – Adjara Arch Group. The expansive space and the philosophy of hospitality instilled in the hotel personnel create distinctive journeys for guests. By partnering with innovative entrepreneurs, artists, and forward-thinking individuals, Adjara Group has gathered local communities who are at the forefront of advancing Georgian hospitality and the country's creative economy.</p>
          <a href="#" class="underline ag-cta">Explore Co-Working Spaces →</a>
        </div>
        <div class="img-container">
          <figure class="alt-home-img" style="background: url('/assets/img/imgs-of-bldings/Photo Oct 07, 4 42 27 AM.jpg') center / cover;"></figure>
        </div>
      </section>
      <section class="ag-section global-width alt-home-section" id="development">
        <div class="content">
          <h2 class="alt-title">Development</h2>
          <p class="paragraph">Under the guidance of the Founder and Owner Temur Ugulava, Collective is the development company of Adjara Group Holding, that creates and curates new, unique spaces and local brands, which empower creative communities while establishing entrepreneurial culture. The team specializes in turning brownfield projects into internationally acclaimed, trend-setting hotels, restaurants, as well as cultural and social hotspots. Collective takes a collaborative, holistic approach towards projects combining design, architecture, and customers' experiences of space.</p>
          <a href="#" class="underline ag-cta">Explore Development →</a>
        </div>
        <div class="img-container">
          <figure class="alt-home-img" style="background: url('/assets/img/imgs-of-bldings/architecture-and-design-2048x1342-1.webp') center / cover;"></figure>
        </div>
      </section>

      <section class="ag-section featured-news global-width">
        <div class="news-container">
          <h2 class="alt-title title-featured-news">Featured News</h2>
          <div class="news-container-links">
            <a class="ag-news-link large underline ag-cta" href="/newsroom">All News</a>
            <span class="slasher"></span>
            <a class="ag-news-link large underline ag-cta" href="/newsroom/archive">News Archive</a>  
          </div>
          <%- include('layouts/recentArticles', {recentArticles}) %>
        </div>
        <div style="text-align: center; margin: 25px 0;">
          <a href="/newsroom" class="ag-cta large underline">All News →</a>
        </div>
      </section>
    </main>
    <%- include('layouts/footer') %>
  </body>
</html>