<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('layouts/head') %>
    <style>
      ul, p {
        line-height: 1.4;
        font-size: 14px;
      }
      h2 {
        font-size: 35px;
      }
      h3 {
        font-weight: bold;
        text-transform: capitalize;
      }
      .list-style-inside {
        list-style: none;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <%- include('layouts/navbar') %>
    <main class="main" id="main">
      <section style="max-width: 980px; margin: 0 auto;" class="global-width">
        <h2>Privacy Policy</h2>
          <p>This Policy explains what Personal Information Adjara Group LLC collects from you and the way our Company ("we", "us" or "our") uses it. If you have any questions or concerns about privacy after reviewing this Policy, please send an e-mail to: contact@adjaragroup.com</p>
          <ol class="list-style-inside">
            <li><h3>Personal Information We Collect From You</h3></li>
          </ol>
          <p>If you are visiting Our Web-site, the following Personal Information will be collected from you:</p>
          <ul>
            <li>Language and country from which you connect with us, your IP address, browser type and settings, date and time of your request;</li>
            <li>Connection, geolocation and/or browsing data;</li>
            <li>Information about your preferences and interests;</li>
            <li>If you subscribe to Our newsletter, We will store your e-mail address and name;</li>
            <li>Age and gender of our visitors, information about their preferences and interests.</li>
          </ul>
          <ol start="2" class="list-style-inside">
            <li> <h3>Purpose Of Collecting Personal Information</h3> </li>
          </ol>
          <p>We process Personal Information to improve your experience by customizing Our services in accordance with your needs and identify any shortfalls in providing information on Our Web-site. Additionally, We use Personal Information to communicate with you, promote Our services and send newsletters. Therefore, some promotions require your Personal Information to be shared with the third party, such as marketing and communication companies. These companies are contracted by Us and protect any Personal Information that We transferred.</p>
          <p>We also use Personal Information for statistical analysis, i.e. to understand the way users interact with Our Web-site. From time to time, We perform quality surveys and actions to know the degree of satisfaction of Our customers.</p>
          <ol start="3" class="list-style-inside">
            <li> <h3>How And When Collection Happens?</h3> </li>
          </ol>
          <p>Personal Information may be obtained when you provide it to Us, e.g., when logging in your Google and/or Facebook accounts or when subscribing to our newsletter.</p>
          <ol start="4" class="list-style-inside">
            <li> <h3>Subscriptions</h3> </li>
          </ol>
          <p>We shall obtain your e-mail address for the purposes of sharing information about Us, only if you subscribe to Our newsletter services. You may unsubscribe from Our newsletter anytime by clicking here.</p>
          <p>If you subscribe to Our newsletter, We shall process your personal data to manage your subscription and send customized information on Our products and services via e-mail. Our newsletters will include updates and informative notices related to Our products and services, to establish a degree of customer satisfaction.</p>
          <ol start="5" class="list-style-inside">
            <li> <h3>Cookies</h3> </li>
          </ol>
          <p>By visiting Our web-site, your computer or device will be provided with a cookie, which tracks your preferences. This information helps us improve Our services and update/improve Our web-site.</p>
          <p>We process Personal Information by using cookies as per our <a href="#cookiePolicy">Cookie Policy</a>.</p>
          <ol start="6" class="list-style-inside">
            <li><h3>Storage And Security</h3></li>
          </ol>
          <p>We treat your Personal Information as Confidential and have implemented technical and internal security measures in accordance with the applicable law to protect it from unlawful usage, loss, alteration, processing or any other unauthorized forms of processing.</p>
          <p>We shall keep your data for the period that is requested under applicable laws.</p>
          <ol start="7" class="list-style-inside">
            <li><h3>Sharing</h3></li>
          </ol>
          <p>We may share your Personal Information with:</p>
          <ul>
            <li>Our affiliates - entities affiliated with/related to Us, including any other entity and/or person that is directly or indirectly controlled by Us, under common control with Us, or controlled together with the affiliated entity. The term "control" means possession, directly or indirectly, of the power to direct or cause the direction of the management and policies of an entity/person, whether through the ownership, control of interests or voting securities by contract or otherwise;</li>
            <li>Third party contractors providing marketing and advertising services to Our company or its affiliates. Third party contractors are contractually bound to protect any Personal Information transferred by Us. Third party contracts may be located within or outside of the EU territory.</li>
          </ul>
          <ol start="8" class="list-style-inside">
            <li><h3>Your Rights</h3></li>
          </ol>
          <p>You may request to access your personal data that we hold. You may also request to modify the personal data we hold. You are liable for any loss or damage inflicted to Us or third party for submitting erroneous, inaccurate or incomplete information in the newsletter registration forms. Please, note that you should provide your own data only and are not allowed to provide information on third parties.</p>
          <p>You may request to erase your personal data, but only to the extent that data is no longer compulsory/necessary to be retained for processing or is no longer statutorily required to be kept.</p>
          <p>If you give Us your consent to process your data, you are also allowed to withdraw this consent. Such request should be clearly provided to Us through the contact details provided below.</p>
          <ol start="9" class="list-style-inside">
            <li><h3>Applicable Law</h3></li>
          </ol>
          <p>Our web-sites are subject to the laws of Georgia. Laws of Georgia apply to this Policy.</p>
          <ol start="10" class="list-style-inside">
            <li><h3>Contact Us</h3></li>
          </ol>
          <p>For any questions or claims contact us here: LLC Adjara Group.</p>
          <p>Postal Address: 14 Kostava Street, Tbilisi, Georgia
          <br>E-mail address: contact@adjaragroup.com
          <br>Legal Address:
          <br>შპს აჭარა ჯგუფი 205090890 საქართველო, ქ. თბილისი, მთაწმინდის რაიონი, კოსტავას ქ., N 14
          <br>Adjara Group LLC 205090890 Georgia, Tbilisi, Mtatsminda District, 14 Kostava str.</p>
        </div>
        <h2 id="cookiePolicy">Cookie Policy</h2>
        <div>
          <h3>What are cookies?</h3>
          <p>Cookies are small sized text files kept in your computers, pads, mobile phones and other digital devices. Information kept in cookies is not damaging to your devices. Cookies are used to improve Our web-site and your online experience. They keep the information on your navigation on Our web-site.</p>
          <h3>What types of cookies we use?</h3>
          <ul>
            <li>Necessary Cookies. Cookies that are necessary to enable Our web-site to work. These cookies also enable you to move around on Our web-site. These cookies do not track personal information.</li>
            <li>Targeting or Advertising Cookies. These cookies are used to deliver content that is more relevant to you and your interests. They are also used to deliver targeted advertising or limit the number of times you see an advertisement. Such cookies also help Us in measuring the effectiveness of advertising campaigns. Most of them track consumers via their Device ID or IP address therefore they may collect personal data.</li>
            <li>Social media cookies: used for sharing pages and content in social media. Such cookies may also be used for advertising purposes. These cookies collect information about gender, age, preferences and interests of our visitors;</li>
            <li>Analytical cookies: these files preserve information on your interaction with Our Web-site. For instance, the pages that are most visited by the user are analyzed with them. All data obtained through these cookies are anonymous only carrying statistical value. Among other insights, analytical cookies are used to make Our Web-site more interesting, let us know which pages are popular among the visitors as well as help us understand what type of advertisement/information is the most efficient.</li>
          </ul>
          <p>We do not store your name, address, your password, your credit, or debit card data, in the cookies we use.</p>
          <h3>Google Analytics / Facebook Pixel</h3>
          <p>We use Google Analytics and Facebook Pixel services to obtain statistical data about visitors of Our web-site. Google Analytics and Facebook Pixel makes it possible for Us to track the location from which you visited Our domain, the amount of time you spent on it and the device you visited our Web-site with, among other variables. We also acquire information about our visitors" age, gender, interests, device language, location, device type, behavior (engagement, interaction with the website, frequency and recency of website visits).</p>
          <p>This information is processed merely for statistical purposes and does not enable Us to identify the user.</p>
          <h3>Who uses cookies?</h3>
          <p>We are the main users of cookies and the information stored on them. From time to time We may transfer them to the third party contractors. The purpose of such transfers is to obtain access statistics and to improve Your experience on the Web-site.</p>
      </section>
    </main>
    <%- include('layouts/footer') %>
  </body>
</html>
