/* Company */
.ag-section.company {
  margin: 150px auto;
}
.company-img {
  object-fit: cover;
  width: 100%;
  max-height: 500px;
}
.company-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  align-items: center;
}
.ag-btn {
  min-width: 150px;
  padding: 10px 5px;
  background: #242124;
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
  position: relative;
  border: 1px solid var(--border-color);
  text-align: center;
}
.ag-btn .text {
  color: var(--global-white);
  position: relative;
}
.box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: top center;
  transform: scale(1, 0);
  -webkit-transform: scale(1, 0);
  background: var(--global-white);
  transition: transform .6s cubic-bezier(0.16, 1, 0.3, 1),-webkit-transform .6s cubic-bezier(0.16, 1, 0.3, 1);
}
.ag-btn:hover .box {
  transform: scale(1, 1);
  transform-origin: bottom center;
}
.ag-btn:hover .text {
  color: var(--global-black);
}
/* Company - Hero */
.ag-section.company-hero {
  margin-top: 50px;
  position: relative;
  height: 370px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ag-section.company-hero h1 {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
  z-index: 9999;
  color: var(--global-white);
}
.company-hero-img {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url('/assets/img/imgs-of-bldings/architecture-and-design-2048x1342-1.webp') no-repeat center / cover;
}
/* Company - About */
.company h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 25px;
}
.company p {
  color: #5F6368;
  font-size: 0.875rem;
  line-height: 1.3rem;
}
/* Company - Stats */
.company-stats {
  max-width: 980px;
}
.company-stats h2 {
  text-align: center;
}
.stats-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}
.stat-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.stat-amount {
  font-size: 42px;
  font-family: "Lato", sans-serif;
}
.stat-title {
  color: #5F6368;
  font-size: 16px;
}
/* Company - History */
/* Company - CSR */
/* Company - Team */