/* DARK THEME */
/* :root {
  --global-black: rgb(244, 244, 255);
  --global-white: rgb(22, 22, 22);
  --global-white-darker: rgb(226, 226, 226);
  --global-hover-black: rgba(22, 22, 22, 0.03);
  --border-color: rgb(75, 75, 75);
  --image-overlay: rgb(22, 22, 22);
} */

/* LIGHT THEME */
:root {
  --global-black: #000000;
  --color-text: #000000;
  --color-text-low-emphasis:#6c6d69;
  --color-text-inverted: #ffffff;
  --global-white: #ffffff;
  --global-orange: #e96e5e;
  --global-hover-black: rgba(22, 22, 22, 0.03);
  --border-color: #dbdbdb;
  --image-overlay: #000000;
  --conatiner-background-color: rgb(0, 0, 0, 0.02);
}