/* Global Navigation (GN) */
.ag-gh {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  box-sizing: border-box;
  height: 50px;
  display: flex;
  align-items: center;
  z-index: 999999;
  filter: grayscale(1%);
  background-color: var(--global-white);
  transform: translateY(0);
  transition: transform .6s cubic-bezier(.49,.01,.04,.94);
}
.ag-gh.gh-hidden {
  transform: translateY(-100%);
}
.ag-gn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99999;
  transition: transform .6s cubic-bezier(.49,.01,.04,.94) .1s, opacity .6s cubic-bezier(.49,.01,.04,.94) .25s;
}
.ag-gh.gh-hidden .ag-gn {
  opacity: 0;
  transform: translateY(-100%);
}
.ag-gn-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
}
.ag-gn-item {
  margin-left: 40px;
}
.ag-gn-link {
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
  position: relative;
  font-family: 'Noto Serif', serif;
  font-weight: 700;
}

/* ** Hamburger ** */
.ag-gn-hamburger_container {
  display: none;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.ag-gn-hamburger,
.ag-gn-hamburger::before,
.ag-gn-hamburger::after {
  width: 30px;
  height: 2px;
  background-color: var(--global-black);
  transition: transform 0.2s ease, background 0.2s ease;
}
.ag-gn-hamburger {
  position: relative;
}
.ag-gn-hamburger::before {
  content: '';
  position: absolute;
  transform: translateY(-5px);
}
.ag-gn-hamburger::after {
  content: '';
  position: absolute;
  transform: translateY(5px);
}
.navbar-overlay {
  display: none;
  background: rgba(0, 0, 0, 0.7);
}
.nav-visible .ag-gn-hamburger {
  background: transparent;
}
.nav-visible .ag-gn-hamburger::after {
  transform: rotate(45deg);
}
.nav-visible .ag-gn-hamburger::before {
  transform: rotate(135deg);
}