.ag-hotels-sect-container {
  gap: 1px;
}
.el {
  position: relative;
  height: 350px;
}
.el1 {
  grid-column: span 6;
}
.el-small {
  grid-column-end: span 3;
}
figure{ 
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.ag-hotel-background {
  vertical-align: top;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: saturate(0);
}
.ag-hotels-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--global-black);
  opacity: 0.8;
}
.ag-hotel-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ag-hotel-links {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
  margin-top: 70px;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.ag-hotel-links .ag-cta:last-child {
  margin-left: 30px;
}
.ag-section.hotels .el:hover .ag-hotel-links {
  transform: translate(-50%, -50%);
  opacity: 1;
}