:root {
  --global-black: #000000;
  --color-text: #000000;
  --color-text-low-emphasis:#6c6d69;
  --color-text-inverted: #ffffff;
  --global-white: #ffffff;
  --global-orange: #e96e5e;
  --global-hover-black: rgba(22, 22, 22, 0.03);
  --border-color: #dbdbdb;
  --image-overlay: #0a0a0a;
  --conatiner-background-color: rgba(10, 10, 10, 0.02);
}