@media screen and (max-width: 1740px) {
  :root {
    --global-width: 1380px;
    --global-padding: 0 30px;
  }
}
@media screen and (max-width: 1440px) {
  :root {
    --global-width: 1380px;
  }
  .careers-nav-link {
    font-size: 14px;
  }
}
@media screen and (max-width: 1280px) {
  :root {
    --article-grid-span: end;
  }
  /* RELATED NEWS */
  .ag-news-related {
    grid-column: 1 / -1;
  }
  .article-img {
    width: 200px;
    height: 100px;
  }
  /* ARTICLES */
  .ag-section-article {
    grid-column-end: span 9;
  }
  /* NEWSROOM */
  .job-results {
    grid-column: 4 / end;
  }
  /* Company page */
  .company-grid {
    grid-template-columns: 1fr;
  }
  .ag-section.company img.company-img {
    order: 1 !important;
  }
  .ag-section.company div.company-content {
    order: 2 !important;
  }
  .company-img {
    max-height: 500px;
  }
}
@media screen and (min-width: 1280px) {
  .ag-news-related-article-img.article-img {
    vertical-align: top;
    object-fit: cover;
    width: 200px;
    height: 100px;
  }
}
@media screen and (max-width: 1140px) {
  :root {
    --footer-grid-columns: repeat(3, 1fr);
    --footer-content-max-width: 80%;
    --global-grid-columns: 1fr;
  }
  .ag-gn-list-container {
    position: fixed;
    transform: translateX(100%);
    height: 100vh;
    background: var(--global-white);
    top: 0;
    right: 0;
    bottom: 0;
    transition: transform 0.6s cubic-bezier(0, 1, 0.6, 0.98);
    padding-right: 30px;
    width: 100%;
    max-width: 320px;
  }
  .ag-gn-list {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
  }
  .ag-gn-item {
    margin: 10px 0;
  }
  .ag-gn-link {
    font-size: 16px;
    padding: 5px 0;
  }
  .nav-visible .ag-gn-list-container {
    transform: translateX(0);
  }
  .ag-gn-hamburger_container {
    display: flex;
  }
  .ag-news-categoryNav {
    display: none;
  }
  .ag-news-card {
    height: 100%;
    min-height: 300px;
  }
  /* HOMEPAGE */
  .intro-container {
    grid-template-columns: 1fr;
  }
  /* ARTICLES */
  .ag-section-article {
    grid-column-end: -1;
  }
  .ag-article-title {
    font-size: 35px;
  }
  /* JOBS */
  .careers-nav-list {
    display: none;
  }
  .careers-nav {
    grid-column: unset;
    border-right: 0;
  }
  .careers-alternate-nav {
    display: block;
  }
  .job-results {
    grid-column: unset;
  }
  .no-jobs {
    grid-column: unset;
  }
  /* NEWSROOM */
  .ag-news-cards.global-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .news-container .ag-news-card:first-of-type {
    grid-area: 1/1/1/3;
  }
  .recent-news-container {
    grid-column: unset;
  }
  /* Company */
  .company-img {
    max-height: 400px;
  }
}
@media screen and (max-width: 740px) {
  :root {
    --global-columns: 2;
  }
  /* HOMEPAGE */
  .ag-section.hero .hero.title {
    width: 100%;
    font-size: 30px;
  }
  /* Newsroom */
  .ag-news-cards.global-grid {
    grid-template-columns: 1fr;
  }
  .news-container .ag-news-card:first-of-type {
    grid-area: 1;
  }
  .ag-article-copy h3 {
    font-size: 16px;
  }
  .ag-news-recent-article-copy {
    padding-left: 15px;
    width: 100%;
  }
  .ag-recent-article-descr {
    display: none;
  }
  .newsroom_nav-tray {
    width: 100%;
  }
  /* ARTICLES */
  .ag-article-title {
    font-size: 26px;
  }
  .ag-news-recent-item:hover .ag-news-recent-article,
  .ag-news-recent-item:focus .ag-news-recent-article,
  .ag-news-recent-item:active .ag-news-recent-article {
    transform: translateX(0px);
  }
  .ag-article-img {
    height: 300px;
  }
  /* JOBS */
  .ag-careers-hero-content {
    flex-direction: column;
  }
  .ag-careers-hero-content button {
    margin-left: 0;
  }
  .ag-careers-title {
    border: 0;
    padding-right: 0;
  }
  .jobs-grid {
    grid-template-columns: repeat(2, 1fr) 100px;
  }
  .job-result-tr {
    font-size: 12px;
  }
  [data-jobcol="employmentType"] {
    display: none;
  }
  /* Company page*/
  .stats-container {
    flex-direction: column;
  }
  .stat-container {
    margin: 25px;
  }
  .company-img {
    max-height: 300px;
  }
}
@media screen and (max-width: 480px) {
  :root {
    --footer-grid-columns: repeat(2, 1fr);
    --global-padding: 0 20px;
    --global-columns: 1;
  }
  #loadMore {
    max-width: unset;
  }
  /* Newsroom */
  /* Related Articles */
  .ag-article-copy h3 {
    font-size: 14px;
  }
  .article-img {
    width: 100px;
    height: 60px;
  }
  .ag-intro-content {
    padding: 20px;
  }
  /* Single Article */
  .ag-article-img {
    height: 200px;
  }
  /* Company page */
  .ag-section.company-hero h1 {
    font-size: 42px;
  }
}
