.ag-section.archive {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.ag-archive-article {
  margin: 20px 0;
  display: grid;
  grid-template-columns: 1fr;
}
.ag-article-category {
  display: inline-block;
  font-weight: 500;
}
.ag-article-link {
  text-decoration: none;
  font-size: 14px;
}
