/* Related News */
.ag-news-related {
  margin-top: 50px;
}
.ag-news-related-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--border-color) 1px solid;
  padding-bottom: 10px;
}
.ag-news-related-title {
  margin: 0;
  font-size: 25px;
}
.ag-news-related-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.ag-news-related-item {
  padding: 20px 0;
}
.ag-news-related-item:not(:first-child) {
  border-top: 1px solid var(--border-color);
}
.ag-news-related-link {
  text-decoration: none;
}
.ag-news-related-article {
  padding-right: 10px;
  display: flex;
}

.ag-article-copy {
  padding-left: 15px;
  width: 100%;
}
.ag-news-related-article .ag-article-date {
  font-size: 11px;
  opacity: 0.5;
  font-weight: normal;
}
.ag-news-related-article .ag-article-category {
  font-size: 11px;
  font-weight: normal;
  opacity: 0.8;
}
.ag-news-related-article h3 {
  font-size: 16px;
}
.ag-article-container {
  margin-top: 50px;
  max-width: 980px;
}
.ag-articleDetail {
  width: 100%;
}
.ag-article-headingBlock {
  margin: 25px 0;
}
.ag-article-category {
  font-size: 12px;
  position: relative;
  opacity: 0.8;
}
.ag-article-category::before {
  /* content: ""; */
  display: inline-block;
  margin-right: 5px;
  width: 10px;
  height: 10px;
}
.ag-article-category[data-category="development"]::before {
  background-color: var(--article-category-development);
}
.ag-article-category[data-category="agriculture"]::before {
  background-color: var(--article-category-agriculture);
}
.ag-article-category[data-category="company"]::before {
  background-color: var(--article-category-company);
}
.ag-article-category[data-category="hotels"]::before {
  background-color: var(--article-category-hotels);
}
.ag-article-category[data-category="restaurants"]::before {
  background-color: var(--article-category-restaurants);
}
.ag-article-title {
  font-weight: 700;
  font-size: 45px;
  text-transform: capitalize;
  margin: 20px 0;
}
.ag-article-subheadling-container {
  display: flex;
  align-items: center;
}
.ag-article-date {
  font-weight: normal;
  font-size: 12px;
  opacity: 0.8;
}
.ag-article-img-container {
  margin: 0;
  padding: 0;
}
.ag-article-img {
  vertical-align: top;
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.ag-article-body {
  font-size: 1rem;
  line-height: 200%;
}
.ag-article-body * {
  max-width: 100%;
}
/* Article Progress Bar */
progressBar.ag-article-progressBar {
  display: block;
  position: sticky;
  top: 0;
  height: 5px;
  width: 0%; /* Default value */
  transition: width 0.1s ease, opacity 0.1s ease-in-out, transform .6s cubic-bezier(.49,.01,.04,.94);
  background-color: #2874fc;
  z-index: 999;
  transform: translateY(50px);
}
.gh-hidden progressBar.ag-article-progressBar {
  transform: translateY(0);
}
/* Share Container */
.ag-article-share-copy {
  font-size: 12px;
  font-weight: 700;
  margin: 50px 0 20px 0;
}
.ag-article-social-anchor {
  opacity: 0.6;
  transition: opacity 0.1s ease;
}
.ag-article-social-anchor:hover {
  opacity: 1;
}
.ag-article-social {
  height: 18px;
}

.ag-article-social-anchor:not(:first-child) {
  margin-left: 15px;
}
.ag-article-subheadling-container .ag-article-date {
  padding-right: 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}