:root {
  --global-width: 1680px;
  --global-padding: 0;
  --global-grid-gap: 20px;
  --global-grid-columns: repeat(12, 1fr);
  --global-columns: 3;
  --footer-grid-columns: repeat(5, 1fr);
  --footer-content-max-width: 980px;
  --border-color-fade: 1px solid linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, var(--global-black) 50%, rgba(0, 0, 0, 0) 100%);
  --article-width: 830px;
  --article-category-development: #1c4471;
  --article-category-agriculture: #71816d;
  --article-category-company: #393e41;
  --article-category-hotels: #cfc0bd;
  --article-category-restaurants: #4c191b;
  --article-grid-span: 10;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: var(--global-white);
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}
main {
  max-width: 2560px;
  margin: 0 auto;
  position: relative;
}
div,
span,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Lato", sans-serif;
  color: var(--global-black);
}
div,
span,
p,
a,
ul,
ol {
  font-family: "Open Sans", sans-serif;
}
img {
  vertical-align: top;
}
p {
  line-height: 1.7;
  font-size: 1rem;
  margin: 1.5em 0;
}
::selection {
  color: var(--global-white);
  background: var(--global-orange);
}
.form-control {
  display: grid;
  grid-template-columns: 200px 1fr;
  margin-bottom: 20px;
}
input,
textarea {
  padding: 5px;
}
select {
  border: var(--border-color);
  border-radius: 0;
  padding: 5px 10px;
}
.list-style-inside {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}
.list-nobullet {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}
.visuallyhidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}
.category-nav-item {
  margin: 10px 0;
  font-size: 14px;
  font-weight: 500;
}
.reveal {
  transform: translateY(30px);
  opacity: 0;
}

.revealed {
  transform: translateY(0);
  opacity: 1;
  transition-property: transform, opacity;
  transition-duration: 0.6s, 0.6s;
  transition-timing-function: ease-in-out;
}
/* Sets global width accroding to the variable */
.global-width {
  max-width: var(--global-width);
  margin: 0 auto;
  padding: var(--global-padding);
  position: relative;
}
/* Sets global grid system according to variables */
.global-grid {
  display: grid;
  grid-template-columns: var(--global-grid-columns);
  gap: var(--global-grid-gap);
}
.ag-section {
  overflow: hidden;
}
/* CTA */
.ag-cta-content {
  box-sizing: border-box;
}
.ag-cta {
  font-size: 14px;
  text-decoration: none;
  padding: 10px 0;
}
.cta-border {
  padding: 10px 14px;
  border: 1px solid var(--global-black);
}
.underline {
  position: relative;
  text-decoration: none;
}
.underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--global-black);
  transform: scaleX(0);
  transform-origin: right center;
  transition: transform 0.6s cubic-bezier(0.49, 0.01, 0.04, 0.94);
}
.u-light::after {
  background: var(--global-white);
}
.u-light::after,
.u-light::before {
  color: var(--global-white);
}
.underline:hover::after {
  transition-duration: 0.3s;
  transform: scaleX(1);
  transform-origin: left center;
}
/* ** Current Link ** */
.underline[data-current="true"] {
  transform: scaleX(1);
}
.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--image-overlay);
  opacity: 0.5;
}
.overlay.darker {
  opacity: 0.7;
}
.title {
  font-size: 25px;
  margin: 50px 0 25px 0;
  text-transform: capitalize;
}
.title-border {
  border-bottom: var(--border-color) 1px solid;
  padding-bottom: 10px;
}
.ag-btn {
  min-width: 150px;
  padding: 10px 5px;
  margin: 5px;
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
  position: relative;
  border: 1px solid var(--global-white);
  text-align: center;
  transition: border 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}
.ag-btn .text {
  color: var(--global-white);
  position: relative;
}
.ag-btn.dark {
  border: 1px solid var(--global-black);
}
.ag-btn.dark .text{
  color: var(--global-black);
}
.box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--global-orange);
  transform-origin: top center;
  transform: scale3d(1, 0, 1);
  -webkit-transform: scale3d(1, 0, 1);
  transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1), -webkit-transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}
.ag-btn:hover {
  border: 1px solid var(--global-orange);
}
.ag-btn:hover .box {
  transform: scale(1, 1);
  transform-origin: bottom center;
}
.ag-btn:hover .text {
  color: var(--global-white);
}
/* Homepage */
.ag-section.hero {
  height: 90vh;
  max-height: 850px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.hero-container.global-width {
  width: 100%;
}
.ag-section.hero .hero-video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: -1;
}
.ag-section.hero .hero-vid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ag-section.hero .hero.title {
  font-size: 40px;
  font-weight: 700;
  width: 60%;
  color: var(--global-white);
}
.ag-section.hero .ag-cta {
  color: var(--global-white);
  opacity: 0.7;
}
/* Intro Section */
.intro-container {
  padding-top: 1px;
  grid-template-columns: repeat(2, 1fr);
  gap: 1px;
}
.ag-intro * {
  color: var(--global-white);
}
.ag-intro {
  min-height: 300px;
  position: relative;
}
.ag-intro-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}
.ag-intro-content {
  padding: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
}
.ag-intro.title {
  margin: 30px 0;
}
.ag-intro-body {
  font-size: 14px;
  color: var(--global-white-darker);
}
.ag-intro .ag-cta-content {
  margin-top: 30px;
}
/* News Section */
.ag-news-item {
  display: inline;
}
.ag-news-item:not(:first-child)::before {
  content: "/";
  padding: 0 5px;
}
.ag-news-link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}
.ag-news-card {
  position: relative;
  color: var(--global-black);
  border: 1px solid var(--border-color);
  min-height: 450px;
  background-color: var(--conatiner-background-color);
  transition: color 0.6s cubic-bezier(0, 1, 0.6, 0.98);
  overflow-x: hidden;
}
.ag-news-card .container {
  padding: 40px 25px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}
.ag-news-card .ag-article-category {
  font-weight: 400;
}
.ag-news-card .ag-article-title {
  font-size: 20px;
  margin: 30px 0;
}
.ag-news-card .ag-article-descr {
  font-size: 14px;
  line-height: 2;
}
.ag-article-card-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  transform: translateX(10%);
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  transition: transform 0.6s cubic-bezier(0, 1, 0.6, 0.98), opacity 0.6s cubic-bezier(0, 1, 0.6, 0.98), visibility 0.6s cubic-bezier(0, 1, 0.6, 0.98);
}
.ag-news-card:hover .ag-article-card-background {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}
.ag-news-card:hover .ag-article-title,
.ag-news-card:hover .ag-article-category,
.ag-news-card:hover .ag-article-date,
.ag-news-card:hover .ag-article-readMore {
  color: var(--global-white);
}
.ag-news-card:hover .ag-article-descr {
  color: var(--global-white-darker);
}
/* Newsroom */

/* Newsroom Navigation */
.newsroom_nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(50px);
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  background-color: var(--global-white);
  height: 50px;
  z-index: 9999;
  transition: transform 0.6s cubic-bezier(0.49, 0.01, 0.04, 0.94);
}
.newsroon_nav-container {
  height: 100%;
}
.gh-hidden .newsroom_nav {
  transform: translateY(0);
}
.newsroom_nav nav {
  height: 100%;
  position: relative;
}
.newsroom_nav-content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
}
.newsroom_nav-content * {
  font-family: "Lato", sans-serif;
}
#newsroomTopics,
#newsroomArchive {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
}
#newsroomArchive::after,
#newsroomTopics::after {
  content: url("/assets/img/logos/arrow.svg");
  display: inline-block;
  transform-origin: center center;
  width: 15px;
  height: 17px;
}
#newsroomTopics::after {
  transform: rotate(180deg);
  transition: transform 0.4s cubic-bezier(0.49, 0.01, 0.04, 0.94);
  padding: 5px;
}
#newsroomArchive::after {
  transform: rotate(90deg);
}
.newsroom_nav.open #newsroomTopics::after {
  transform: rotate(0);
}
.newsroom_nav-tray {
  position: relative;
  max-height: 0;
  width: 300px;
  background-color: var(--global-white);
  border: 1px solid var(--border-color);
  visibility: hidden;
  transition-property: max-height, visibility;
  transition-timing-function: cubic-bezier(0.49, 0.01, 0.04, 0.94);
  transition-duration: 0.2s, 0s;
  transition-delay: 0s, 0.3s;
}
.newsroom_nav.open .newsroom_nav-tray {
  visibility: visible;
  transition-duration: 0.4s, 0s;
  transition-delay: 0s;
}
.ag-news-cat-list {
  padding: 10px;
  margin: 0;
}
.ag-news-cat-item {
  font-size: 14px;
  padding: 15px 0;
  transform: translateY(-10px);
  opacity: 0;
  transition-property: transform, opacity;
  transition-timing-function: cubic-bezier(0.49, 0.01, 0.04, 0.94);
  transition-duration: 0.1s;
  transition-delay: 0s;
}
.ag-news-cat-item:not(:first-of-type) {
  border-top: 1px solid var(--border-color);
}
.newsroom_nav.open .ag-news-cat-item {
  opacity: 1;
  transform: translateY(0);
  transition-duration: 0.3s;
  transition-delay: 0.1s;
}
.categoryNav-curtain {
  cursor: pointer;
  display: none;
  background: rgba(0, 0, 0, 0.7);
}
/* Featured news */
.featured-news {
  margin-top: 125px;
}
.ag-news-cards.global-grid {
  grid-template-columns: repeat(3, 1fr);
}
.recent-news {
  max-width: 980px;
}
.recent-news .title {
  grid-column: 1 / -1;
}
/* Newsroom Category Navigation TESTING*/
.ag-news-categoryNav {
  grid-column-end: span 3;
}
.recent-news-container {
  grid-column-end: span 9;
}
.ag-news-recent-list {
  margin-top: 0;
}
.ag-news-recent-item {
  padding: 40px 5px;
  border-bottom: 1px solid var(--border-color);
}
.recent-news .hidden {
  transform: translateY(50px);
  opacity: 0;
}
.recent-news .visible {
  transform: translateX(0);
  opacity: 1;
}
.ag-news-recent-article {
  display: flex;
}
.ag-news-recent-link {
  text-decoration: none;
}
.ag-btn.all-news {
  margin: 25px auto;
}
.article-img {
  vertical-align: top;
  width: 250px;
  height: 130px;
  object-fit: cover;
  border-radius: 3px;
}
.ag-article-data {
  display: flex;
  justify-content: space-between;
}
.ag-news-recent-article-copy {
  padding-left: 15px;
  width: 100%;
}
.ag-news-recent-article .ag-article-category {
  font-weight: normal;
}
.ag-news-recent-article h3 {
  font-size: 18px;
  text-transform: capitalize;
}
.ag-recent-article-descr {
  font-size: 12px;
  margin-bottom: 0;
}
.translate-animation {
  border: 1px solid transparent;
  transition: background 0.3s ease, border 0.3s ease, transform 0.7s cubic-bezier(0, 1, 0.6, 0.98), opacity 0.6s cubic-bezier(0, 1, 0.6, 0.98);
  margin-top: -1px;
}
.translate-animation:not(:last-of-type) {
  border-bottom: 1px solid var(--border-color);
}
.translate-animation:hover {
  background: var(--conatiner-background-color);
  border: 1px solid var(--border-color);
}
.translate-animation article {
  transition: transform 0.2s ease;
  padding-right: 10px;
}
.translate-animation:hover article,
.translate-animation:focus article,
.translate-animation:active article {
  transform: translateX(5px);
}
#loadMore,
#loader {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  margin: 0 auto;
}
#loader {
  border: 0;
  padding: 0;
  margin: 0;
  cursor: auto;
  display: none;
  height: 100%;
}
#loader[data-loading="0"] {
  display: none;
}
#loader[data-loading="1"] {
  display: flex;
}
#loadMore[data-loading="1"] {
  background-color: transparent;
  border: 0;
}
#loadMore[data-loading="1"] .text {
  color: transparent;
}
#loadMore[data-loading="1"] .box {
  background: transparent;
}
#loadMore[data-loading="1"]::before,
#loader[data-loading="1"]::before {
  content: "";
  position: absolute;
  background: url("/assets/img/brand/favicon.svg") no-repeat center / contain;
  height: 30px;
  width: 30px;
  animation: loader 1s ease-in-out forwards infinite;
  border-radius: 100%;
}
/* navbar */
.nav-visible .navbar-overlay,
.newsroom_nav.open ~ .categoryNav-curtain {
  animation-name: Navbar-dropdown-fade-in;
  animation-duration: 0.2s;
  display: block;
}
@keyframes loader {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.2);
  }
  50% {
    transform: rotate(360deg);
  }
}
@keyframes Navbar-dropdown-fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
